@use '../helpers' as *;

.about {
  margin-top: fluid(33, 7);
  margin-bottom: fluid(47, 34);

  &__inner {
    display: flex;
    row-gap: fluid(30, 27);
    flex-direction: column;
  }

  &__header {
    display: flex;
    position: relative;

    @include tablet {
      padding-inline: rem(20);
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 54.1% 1fr;
    column-gap: rem(40);
    align-items: start;

    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }

  &__subtitle {
    line-height: 1.5;

    @include mobile {
      line-height: 1.56;
    }
  }

  &__details {
    @include w-full(rem(669));

    display: flex;
    row-gap: fluid(58, 32);
    flex-direction: column;
  }

  &__main {
    display: flex;
    row-gap: rem(4);

    @include laptop {
      flex-direction: column;
    }
  }

  &__decor {
    @include laptop-above {
      position: absolute;
      top: rem(-89);
      right: rem(-328);
    }

    @include tablet {
      transform: translateX(-50%);
      margin-left: 66.5%;
      width: rem(488);
    }

    &-image {
      object-fit: cover;
    }
  }

  &__description {
    @include tablet-above {
      padding-left: rem(40);
    }

    @include tablet {
      padding-inline: rem(20);
    }

    h6 {
      font-size: fluid(18, 16);
    }
  }

  &__feedback {
    @include w-full(rem(494));
    @include decor-line;

    display: flex;
    row-gap: fluid(46, 33);
    flex-direction: column;
    margin-top: fluid(63, 41);
    margin-left: auto;
    border: var(--border);
    border-radius: var(--rounded-base);
    background: color-mix(in srgb, var(--color-accent) 10%, transparent);
    padding: rem(25) rem(44) rem(16);

    @include tablet {
      margin-left: 0;
      padding-bottom: rem(39);
      width: 100%;
      max-width: 100%;
    }

    &-title {
      font-size: fluid(26, 24);
      line-height: 1.23;
    }
  }

  &__slider {
    &-controls {
      display: flex;
      column-gap: rem(13);
      justify-content: end;
      align-items: center;
      margin-top: rem(3);

      @include tablet {
        display: none;
      }
    }

    &-swiper {
      @include mobile {
        overflow: visible;
      }
    }

    &-button-wrapper {
      display: flex;
      justify-content: end;
      align-items: center;
    }
  }

  &__slide-content {
    @include mobile {
      aspect-ratio: 195 / 269;
    }
  }
}
