@use 'helpers' as *;

.container {
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
  width: 100%;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);

  &--contents {
    @include tablet {
      display: contents;
    }
  }
}

.visually-hidden {
  @include visually-hidden;
}

.date {
  opacity: 0.5;
  font-size: fluid(14, 13);
  line-height: 1.71;
  letter-spacing: 0;
}

.section-title {
  padding-bottom: var(--padding-title);
}

.icon {
  &--arrow-right {
    color: var(--color-accent);
  }

  &--arrow-left {
    color: var(--color-accent);
  }
}

.border-decor {
  position: relative;
  padding-left: fluid(40, 25);
  color: var(--color-gray-60);
  font-size: fluid(24, 18);
  line-height: 1.5;

  &::before {
    display: block;
    position: absolute;
    top: rem(9);
    left: 0;
    background-color: var(--color-accent);
    width: rem(1);
    height: calc(100% - rem(15));
    content: '';
  }

  &--opacity {
    &::before {
      opacity: 0.5;
      background-color: var(--color-white);
    }
  }
}

.visible-laptop {
  @include laptop-above {
    display: none !important;
  }
}

.hidden-laptop {
  @include laptop {
    display: none !important;
  }
}

.visible-tablet {
  @include tablet-above {
    display: none !important;
  }
}

.hidden-tablet {
  @include tablet {
    display: none !important;
  }
}
